<h1><%= t('activerecord.models.illustrations') %></h1>

<%= render 'tab_admin_menu' %>

<table class='table table-striped'>
	<thead>
  <tr>	
			<th><%= t('activerecord.models.illustration') %></th>
	    <th><%= t('name_and_paths') %></th>
	    <th><%= t('actions') %></th>
	  </tr>
	</thead>
	
	<tbody>
		<% @illustrations.each do |illustration| %>
		  <tr>
		    <td><%= link_to image_tag(illustration.image.thumbnail), illustration %></td>
		    <td>
					<h3><%= illustration.name %> | <%= link_to(t('see_all_resolutions'), illustration) %></h3>
					<b>Thumbnail</b> path: <%= illustration.image.thumbnail %><br />
					<b>Small</b> path: <%= illustration.image.small %><br />
					<b>Medium</b> path: <%= illustration.image.medium %><br />
					<b>Large</b> path: <%= illustration.image.large %><br />
					<b>XL</b> path: <%= illustration.image.xl %>
				</td>
		    <td><%= link_to t('edit'), edit_illustration_path(illustration), class: 'btn btn-mini' %>
					<%= link_to t('delete'), illustration, method: :delete, data: { confirm: t('are_you_sure') }, class: 'btn btn-mini btn-danger' %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @illustrations %>

<%= link_to t('illustrations.create.new'), new_illustration_path, class: 'btn btn-primary' %>

<%= render 'shared/admin_sidebar' %>