<% content_for :meta_title, @illustration.name %>
<% content_for :meta_description, @illustration.name %>

<%= render 'section_header' %>

<h3>Name: <%= @illustration.name %></h3>
<p>
	<%= image_tag @illustration.image.thumbnail.url %><br /><%= @illustration.image.thumbnail.url %><br /><br />
	<%= image_tag @illustration.image.small.url %><br /><%= @illustration.image.small.url %><br /><br />
	<%= image_tag @illustration.image.medium.url %><br /><%= @illustration.image.medium.url %><br /><br />
	<%= image_tag @illustration.image.large.url %><br /><%= @illustration.image.large.url %><br /><br />
	<%= image_tag @illustration.image.xl.url %><br /><%= @illustration.image.xl.url %><br /><br />
  <%= image_tag @illustration.image.xxl.url %><br /><%= @illustration.image.xxl.url %>
</p>
<br />
<%= link_to t('edit'), edit_illustration_path(@illustration), :class => 'btn btn-primary' %><%= link_to t('illustrations.all'), illustrations_path, class: 'btn btn-default' %>

<%= render 'shared/admin_sidebar' %>
