<% content_for :meta_title, @illustration.name %>
<% content_for :meta_description, @illustration.name %>

<%= render 'section_header' %>

<h3>Name: <%= @illustration.name %></h3>
<p>
	<%= image_tag @illustration.image.thumbnail %><br /><%= @illustration.image.thumbnail %><br /><br />
	<%= image_tag @illustration.image.small %><br /><%= @illustration.image.small %><br /><br />
	<%= image_tag @illustration.image.medium %><br /><%= @illustration.image.medium %><br /><br />
	<%= image_tag @illustration.image.large %><br /><%= @illustration.image.large %><br /><br />
	<%= image_tag @illustration.image.xl %><br /><%= @illustration.image.xl %><br /><br />
  <%= image_tag @illustration.image.xxl %><br /><%= @illustration.image.xxl %>
</p>
<br />
<%= link_to t('edit'), edit_illustration_path(@illustration), :class => 'btn btn-primary' %><%= link_to t('illustrations.all'), illustrations_path, class: 'btn btn-default' %>

<%= render 'shared/admin_sidebar' %>
