<%= render 'metas', album: @album %>

<%= content_tag :h1, @album.name %>

<%= content_tag :p, simple_format(@album.description) %>

<div class="slideshow">
  <% @album.images.each do |image| %>
    <%= content_tag :div, link_to(image_tag(image.thumbnail), image.giant.url, data: { lightbox: "album#{@album.id}"}), class: 'individual-slide' %>
  <% end %>
</div>

<%= raw @album.body %>

<%# partial in tkh_toolbox gem or has to be added in host app %>
<%= render 'shared/social_sharing', meta_title: @album.name %>

<%= render 'admin_context_menu', album: @album %>
