<h1><%= t('activerecord.models.headers') %></h1>

<%= render 'tab_admin_menu' %>

<%= will_paginate @headers, inner_window: 2 %>

<table class='table table-striped'>
	<thead>
  <tr>
			<th><%= t('activerecord.attributes.header.photo') %></th>
	    <th><%= t('name_and_paths') %></th>
	    <th><%= t('actions') %></th>
	  </tr>
	</thead>

	<tbody>
		<% @headers.each do |header| %>
		  <tr>
		    <td><%= link_to image_tag(header.photo.thumbnail), header %></td>
		    <td>
					<h3><%= header.name %> | <%= link_to(t('see_all_resolutions'), header) %></h3>
					<b>Thumbnail</b> path: <%= header.photo.thumbnail %><br />
					<b>Large</b> path: <%= header.photo.large %><br />
				</td>
		    <td><%= link_to t('edit'), edit_header_path(header), class: 'btn btn-mini' %>
					<%= link_to 'Destroy', header, method: :delete, data: { confirm: t('are_you_sure') }, class: 'btn btn-mini btn-danger' %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @headers, inner_window: 2 %>

<%= link_to t('headers.create.new'), new_header_path, class: 'btn btn-primary' %>

<%= render 'shared/admin_sidebar' %>
