<% content_for :meta_title, @header.name %>
<% content_for :meta_description, @header.name %>

<h1><%= t('activerecord.models.headers') %></h1>



<h3><%= t('name')t('colon') %> <%= @header.name %></h3>
<p>
	<%= image_tag @header.photo.thumbnail %><br /><%= @header.photo.thumbnail %><br /><br />
	<%= image_tag @header.photo.large %><br /><%= @header.photo.large %>
</p>

<%= link_to t('edit'), edit_header_path(@header), :class => 'btn btn-primary' %> 
<%= link_to t('headers.all'), headers_path, class: 'btn' %> 
<%= link_to t('headers.upload_new'), new_header_path, class: 'btn ' %>

<%= render 'shared/admin_sidebar' %>
